* {
  margin: 0;
}

.app {
  height: 100vh;
  background-color: rgb(25, 24, 24);
  display: grid;
  place-items: center;
}

html {
  scroll-snap-type: y mandatory;
}

.app__videos {
  margin-top: 20px;
  position: relative;
  height: 700px;
  border-radius: 20px;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}

/* hide scrollbar for Chrome, Safari and Opera */
.app__videos::-webkit-scrollbar {
  display: none;
}

/* hide scrollbar for IE, Edge and FireFox */
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
